{#- event stream -#}

<dl> <dt> ETA <dd> {{ report.eta | int }} min. <dt> Speed <dd> {{ report.speed }} km/h</dl>

{#- Diagram map -#}
<ul class="diagram-map">
{%- for station in report.stationsPast.slice(-3) -%}
    <li {{ 'class=after' if loop.last and not report.stationAt }}>{{station.displayName}}
{%- endfor -%}
{%- if report.stationAt -%}
    <li class="at">{{report.stationAt.displayName}}
{%- endif -%}
{%- for station in report.stationsAhead.slice(0, 3) -%}
    <li>{{station.displayName}}
{%- endfor -%}
{#- event stream -#}